<div class="content col-sm-12 col-md-9 grey-bg" role="main">
  <h1><%= t('achiever.messages.my_badges') %></h1>
  <% @achievements.each do |ach| %>
    <div class="badge_shelf">
      <span class="achievement_title">
        <h3>
          <%= t("achiever.achievements.#{ach[:name]}.title") %>
        </h3>
        <h5>
          <%= Achiever.tl_achievement(
            ach[:name],
            :progress,
            completed: ach[:prog][0], total: ach[:prog][1]
          ) %>
      </h5>
      </span>
      <div class="badge_boxes">
        <% ach[:badges].each do |badge| %>
          <%= render 'achiever/badge', badge: badge %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
