<div class="badge_shelf">
  <span class="achievement_title">
    <h3>
      <%= t("achiever.achievements.#{achievement[:name]}.title") %>
    </h3>
    <h5>
      <%= Achiever.tl_achievement(
        achievement[:name],
        :progress,
        completed: achievement[:prog[0]],
        total: achievement[:prog[1]]
      ) %>
  </h5>
  </span>
  <div class="badge_boxes">
    <%= render partial: 'achiever/badge', collection: achievement[:badges] %>
  </div>
</div>
