<% if local_assigns[:badge].nil? %>
  <% raise(Achiever::Exceptions::MissingArgToPartial, :badge) %>
<% end %>

<% with_tooltip = true       if local_assigns[:with_tooltip].nil? %>
<% tooltip      = badge.desc if local_assigns[:desc]        .nil? %>
<% title        = badge.name if local_assigns[:name]        .nil? %>

<% if local_assigns[:with_title].nil? && badge.achieved? %>
  <% with_title = true %>
<% else %>
  <% with_title = false %>
<% end %>

<% if local_assigns[:img].nil? %>
  <% if !badge.achieved? %>
    <% img = Achiever.config.unachieved_badge_image %>
  <% else %>
    <% img = badge.img %>
  <% end %>
<% end %>

<% achieved = badge.achieved? ? 'achieved' : 'unachieved' %>

<div class="badge_box">
  <div class="<%= achieved %>">
    <div class="badge_icon">
      <span
        class="<%= img %>"
        <% if with_tooltip %>
          title="<%= tooltip %>"
          data-toggle="tooltip"
          data-placement="top"
        <% end %>
        >
      </span>
    </div>

    <% if with_title %>
      <span class="badge_title"><%= title %></span>
    <% end %>
  </div>
</div>
