<div
  class="modal fade bd-example-modal-md achievements-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myLargeModalLabel"
  aria-hidden="false">
  <div class="modal-dialog modal-md">
    <div class="modal-content contact-modal-content py-4">
      <% subject.new_badges.each do |badge| %>
        <%= render 'achiever/badge', badge: badge %>
        <h1><%= t('achiever.congratulations', name: badge.name) %></h1>
      <% end %>
      <%= link_to t('achiever.view_all'), achiever.root_path %>
    </div>
  </div>
</div>

<% subject.clear_new_badges %>
